@model SquareHook.Membership.Areas.Settings.Models.CertificationModel

@{
    ViewBag.Title = "Certification Details";
    Layout = "~/Views/Shared/_LayoutCoreAdmin.cshtml";
}

@section title {    
    <h3 class="title">
        <i class="icon-heart"></i>
        Certification
    </h3>
    <h5>
        <span>
            Manage Certifications
        </span>
    </h5>
}

@section breadcrumbs {
<div id="breadcrumbs">
    <div class="breadcrumb-button blue">
        <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>

    <div class="breadcrumb-button">
        <span class="breadcrumb-label">
        <i class="icon-heart"></i> Certifications
        </span>
        <span class="breadcrumb-arrow"><span></span></span>
    </div>
</div>
}

<div class="row">
  <div class="col-md-12">

    <div class="box">
      <div class="box-header">
        <span class="title"> Certification Details</span>
      </div>

      <div class="box-content">

        @using(Html.BeginForm("New", "Certification", FormMethod.Post, new { @class = "form-horizontal fill-up validatable" })) {

          <div class="padded">
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.CertificationID)

            <ul class="separate-sections">
                <li class="input">
                    <label for="Name">Title</label>
                    @Html.TextBoxFor(m => m.Title, new Dictionary<string, object> { 
                        { "class", "validate[required]" },
                        { "data-prompt-position", "topLeft" },
                        { "placeholder", "Title" }
                    })
                </li>
                <li class="input">
                    <label for="Name">Abbreviation (if any)</label>
                    @Html.TextBoxFor(m => m.Abbreviation, new Dictionary<string, object> { 
                        { "placeholder", "Abbreviation" }
                    })
                </li>
                <li class="input">
                    <label for="Name">Career Track(s)</label>
                    @Html.TextBoxFor(m => m.CareerTrack, new Dictionary<string, object> { 
                        { "class", "validate[required]" },
                        { "data-prompt-position", "topLeft" },
                        { "placeholder", "List of careers associated to this certification" }
                    })
                </li>
                <li class="input">
                    <label for="Name">Provider ID (from Providers List)</label>
                    @Html.DropDownListFor(m => m.ProviderID, Model.Providers, new Dictionary<string, object> { 
                        { "class", "chzn-select" }
                    })
                </li>
                <li class="input">
                    <label for="Name">Link to More Info</label>
                    @Html.TextBoxFor(m => m.Url, new Dictionary<string, object> { 
                        { "class", "validate[required]" },
                        { "data-prompt-position", "topLeft" },
                        { "placeholder", "e.g. http://www.domain.com/asdf" }
                    })
                </li>
                <li class="input">
                    <label for="Name">Popup Text</label>
                    @Html.TextAreaFor(m => m.Details, new Dictionary<string, object> { 
                        { "class", "validate[required]" },
                        { "data-prompt-position", "topLeft" },
                        { "placeholder", "Popup Text" }
                    })
                </li>
                <li class="input">
                    <label for="Name">Level</label>
                    @Html.DropDownListFor(m => m.LevelID, Model.Levels, new Dictionary<string, object> {
                        { "class", "chzn-select" }
                    })
                </li>
            </ul>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-blue">Save changes</button>
            <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
          </div>
        }

      </div>
    </div>

  </div>
</div>

@section scripts {
<script type="text/javascript">
    $(function () {
        /*$("#ID").val("0");

        $.post("@Url.Action("GetUsers")", { id: $("#ClientID").val() }, function(result) {
        if(result.success) {
        var template = $("#userTemplate").html();

        var output = Mustache.render(template, result);
        $("#UserID").append(output);
        }
        });*/
    });
</script>
}