
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">
        <li class="">
          <span class="glow"></span>
          <a href="/">
              <i class="icon-dashboard icon-2x"></i>
              <span>Dashboard</span>
          </a>
        </li>
        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { Controller = "Career", area = "Settings" })">
              <i class="fa-dollar icon-2x"></i>
              <span>Careers</span>
          </a>
        </li>
        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { Controller = "Certification", area = "Settings" })">
              <i class="icon-heart icon-2x"></i>
              <span>Certifications</span>
          </a>
        </li>
        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { Controller = "Provider", area = "Settings" })">
              <i class="fa-rocket icon-2x"></i>
              <span>Providers</span>
          </a>
        </li>
        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { Controller = "Level", area = "Settings" })">
              <i class="fa-level-down icon-2x"></i>
              <span>Levels</span>
          </a>
        </li>
        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { Controller = "Users", area = "Settings" })">
              <i class="icon-user icon-2x"></i>
              <span>Users</span>
          </a>
        </li>
  </ul>