
  <ul class="nav navbar-collapse collapse navbar-collapse-primary">
        <li class="active">
          <span class="glow"></span>
          <a href="/">
              <i class="icon-dashboard icon-2x"></i>
              <span>Dashboard</span>
          </a>
        </li>

        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { Controller = "Reviews", area = "Settings" })">
              <i class="icon-inbox icon-2x"></i>
              <span>Reviews</span>
          </a>
        </li>

        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { Controller = "Surveys", area = "Settings" })">
              <i class="icon-edit icon-2x"></i>
              <span>Surveys</span>
          </a>
        </li>

        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Details", new { Controller = "Customers", area = "Settings" })">
              <i class="icon-coffee icon-2x"></i>
              <span>My Restaurant</span>
          </a>
        </li>

        @if (ViewBag.IsAdmin)
        {
        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { controller = "Import", area = "Settings"  })">
              <i class="icon-download-alt icon-2x"></i>
              <span>Import</span>
          </a>
        </li>

        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { Controller = "Customers", area = "Settings" })">
              <i class="icon-coffee icon-2x"></i>
              <span>Restaurants</span>
          </a>
        </li>

        <li class="">
          <span class="glow"></span>
          <a href="@Url.Action("Index", new { Controller = "Users", area = "Settings" })">
              <i class="icon-user icon-2x"></i>
              <span>Users</span>
          </a>
        </li>
        }
  </ul>